<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= link_to('Home',root_path) %>
  <%= link_to('Contact Us', static_pages_contact_path) %>
  <%= link_to('About Us', static_pages_about_path) %>
  <%= link_to('Sign in', new_user_session_path) unless user_signed_in? %>
  <%= link_to('Sign up', new_user_registration_path) unless user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) if user_signed_in? %>
  <%= link_to('Edit Profile', edit_user_registration_path) if user_signed_in? %>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
